{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Admin Login{% endblock %}</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

<div class="main" style="padding-top: 90px;">

    <!-- Change Password Form -->
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="{% static 'assets/images/signup-image.jpg' %}" alt="change password image"></figure>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">CHANGE PASSWORD</h2>
                    {% if form.errors %}
                    <div class="alert alert-warning alert-dismissible fade show text-danger pt-0 pb-0 ps-5">
                        {% for field in form %} {{ field.errors }} {% endfor %}
                    </div>
                    {% endif %}
                    <form class="register-form" id="change-password-form" action="{% url 'authentication:changePassword' %}" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}" class="zmdi zmdi-lock material-icons-name"></label>
                            {{ field }}
                        </div>
                        {% endfor %}
                        <div class="form-group form-button">
                            <input type="submit" name="change_password" id="changepassword" class="form-submit" value="Change Password"/>
                        </div>
                        <div class="d-flex align-items-center justify-content-center pb-4">
                <p class="mb-0 me-2">Back to home</p>
                <a
                  class="btn btn-outline-secondary text-decoration-none"
                  href="{% url 'authentication:login' %}"
                >
                  Login
                </a>
              </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>

<!-- JS -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
