{% extends "base.html" %} {% block title %}
<title>Delete Product</title>
{% endblock title %} {% block content %}
<section class="bg_op d-flex justify-content-center align-items-center pt-4">
  <div class="container-sm p-2">
    <h1 class="text-center">Confirm Deletion</h1>
    <h4 class="text-center text-black h4">
      Are you sure you want to delete this product?<span class="bg-danger"></span>
    </h4>
    <form method="post" class="text-center">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  </div>
</section>

{% endblock content %}
