{% load static %}
{% include "base.html" %}
{% block title %}
<title>Search Product</title>
{% endblock title %}
{% block content %}
<div class="main" style="padding-top: 10px; padding-bottom: 10px;">
    <section class="bg_op">
        <div class="container-fluid">
            <div class="signup-content">
                <div class="signin-form">
                    <form method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="card-header card-header-primary">
                                    <h3 class="title">Search Product</h3>
                                </div>
                              </div>

                            </div>
                                <div>
                                {% csrf_token %}
                                {% for field in form %}<label for="{{ field.id_for_label }}"  style="padding-bottom: 30px; padding-left: 95px;">{{ field.label }}</label>
                                <div class="form-group">
                                    {{ field }}
                                </div>
                                {% endfor %}
                            </div>
                                <div class="card-footer d-flex justify-content-center align-items-center mt-4">
                                    <button type="submit" id="btn_save" name="btn_save" class="btn btn-fill btn-danger">Search</button>
                                </div>
                          </form>
                        </div>
                            <div class="col-md-4" style="margin-left: auto;">
                                <!-- Signup Image -->
                                <div class="signup-image">
                                    <figure><img src="{% static 'assets/images/products_img.png' %}" alt="products image"></figure>
                                    <a href="{% url 'home' %}" class="signup-image-link">Back to home</a>
                                </div>
                            </div>
                        </div>
                    
                
            
        
    </section>
</div>
{% endblock content %}
